
/Neuro-webs_competition/road_holes/proj/A/YOLO-Annotation-Tool
/Neuro-webs_competition/road_holes/proj/A/Yolo-to-COCO-format-converter
/Neuro-webs_competition/road_holes/proj/A/yolov5
/Neuro-webs_competition/road_holes/proj/B/COCO_YOLO_dataset_generator
/Neuro-webs_competition/road_holes/proj/B/yolov5
/Neuro-webs_competition/road_holes/car_license-plate/A/Yolo-to-COCO-format-converter
/Neuro-webs_competition/road_holes/car_license-plate/B/yolov5
